<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Food & Fun</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/stay">Stay</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/menu">Menu</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: rgb(97, 175, 244);">
                            <a class="dropdown-item" href="/menu/veg" onmouseover="this.style.backgroundColor='green';" onmouseout="this.style.backgroundColor='transparent';">Veg</a>
                            <a class="dropdown-item" href="/menu/nonveg" onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='transparent';">Non Veg</a>
                            <a class="dropdown-item" href="/menu/maharashtrian" onmouseover="this.style.backgroundColor='orange';" onmouseout="this.style.backgroundColor='transparent';">Maharashtrian Food</a>
                        </div>

                        <li class="nav-item">
                            <a class="nav-link" href="/menu/new">Add menu</a>
                        </li>
                        
                    </div>
                </li>
            </ul>
            
        </div>
    </div>
</nav>
