<%layout("/layouts/boilerplate")%>
<style>

body {
    background: #f8e9f2;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.bg-image {
    background-color: rgba(0, 0, 0, 0.5); /* Add some transparency for better readability */
    padding: 50px 0; /* Adjust padding as needed */
}

.text-white {
    color: #fff; /* Set text color to white */
}

</style>
<!-- Welcome Message -->
<section class="jumbotron text-center mt-5 "  style="background-color: #c5dbf1;">
    <div class="container">
        <h1 class="display-4">Welcome to Food & Fun</h1>
        <p class="lead">
            Discover a haven of luxury and comfort at Food & Fun, where every moment is crafted to perfection. Our commitment to exceptional service, combined with a touch of good ambiance, sets us apart as a unique destination for discerning travelers.
        </p>
  
        <p>
            At Food & Fun, we believe in creating more than just stays; we create unforgettable experiences. From our meticulously designed rooms to our world-class amenities, immerse yourself in the epitome of indulgence.
        </p>
        <p>
            Our dedicated team is here to ensure your every need is met with a genuine smile. Whether you're here for business or leisure, let us exceed your expectations and make your stay truly remarkable.
        </p>
        <p class="lead">
            Welcome to a world of luxury, welcome to Food & Fun.
        </p>
    </div>
  </section>
  